.list-group-item {
    border: 1px solid rgba(0,0,0,0) !important;
}
.list-group-item:hover {
    color: black;
    background-color: #e5e15a;
}

.list-group-item.active {
    z-index: 2;
    color: #000 !important;
    background-color: #e5e15a !important;
    border-color: #e5e15a !important;
}

.sidebar a{
    font-weight: 500;
    color: rgba(0,0,0,.8);
    padding: .3rem;

    border-radius: 0 10px 10px 0;
}

.sidebar a:hover{
    text-decoration: none;
}
.sidebar img{
    width: 30px;
    margin-right: 0.5rem;
}
