.products{
    max-width: 1200px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
.products a{
    text-decoration: none;
}

.products .tittle{
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
}
.products .tittle h2{
    border-bottom: 2px solid #eee;
    padding-bottom: 10px;
    font-weight: 200;
    margin-bottom: 30px;
    position: relative;
}
.products .tittle h2::after{
    width: 130px;
    height: 3px;
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    background-color: #59A8B2;
}
.products .Ofertas h2::after{
    background-color: #91d5e2;
}
.products .Combos h2::after{
    background-color: #db7d8f;
}
.products .Frutas h2::after{
    background-color: #e5e15a;
}
.products .Legumes h2::after{
    background-color: #e5b045;
}
.products .Verduras h2::after{
    background-color: #b0c862;
}
.products .Diversos h2::after{
    background-color: #d8bb8d;
}

.products .slider{
    max-width: 1300px;
    height: 420px;
    overflow: hidden;
    display: flex;

}
.products .slider .item{
    width: 225px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 25px;
    margin-left: 10px;
}
.products .slider .item .background{
    width: 225px;
    height: 250px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    border-radius: 10px 10px 0px 0px;
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}
.products .slider .item .caption{
    width: 225px;
    height: 150px;
    overflow: hidden;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, .16);
    text-align: center;
}
.caption .caption-tittle{
    margin-top: 20px;
}
.caption .price{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}
.caption .price h2{
    font-size: 15px;
    font-weight: 300;
}

.caption button{
    border-radius: 10px;
    border: none;
    width: 150px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, .16);
    margin-top: 20px;
    cursor: pointer;
}
.products .more{
    width: 100px;
    height: 200px;
    margin-top: 48px;
    border-radius: 10px;
    display: flex;
    text-align: center;
    align-items: center;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, .16);

}
.products .more a{
    color: black;
    font-size: 15px;
    margin-left: auto;
    margin-right: auto;

}

.products .more a h3{
    font-weight: 300;
}