@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #393c30;
    text-align: left;
    background-color: #fff;
}
.menu-top{
    margin-top: 5rem;
}
.product {
    display: flex;
    justify-content: center;
}

.btn-outline-primary {
    color: rgb(120, 142, 48);
    border-color: rgb(176,200,97);
}
.btn-outline-primary:hover {
    color: #fff;
    background-color: rgb(120, 142, 48);
    border-color: rgb(120, 142, 48);
}
.shadow-sm {
    box-shadow: 0 0.125rem .50rem rgba(0,0,0,.2)!important;
}

