@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}
.menu-top{
    margin-top: 5rem;
}
.product {
    display: flex;
    justify-content: center;
}
.price_old{
    color: red;
    font-size: .9rem;
    text-decoration: line-through;
}
.price {
    font-weight: bold;
    font-size: 1rem;
    color: rgba(0,0,0,.8);
}
.price small {
    font-weight: bold;
    font-size: .65rem;
    color: rgba(0,0,0,.5);
}
.product_title{
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: .05rem;
    text-transform: uppercase;
}
.btn-outline-primary {
    color: rgb(120, 142, 48);
    border-color: rgb(176,200,97);
}
.btn-outline-primary:hover {
    color: #fff;
    background-color: rgb(120, 142, 48);
    border-color: rgb(120, 142, 48);
}
.shadow-sm {
    box-shadow: 0 0.125rem .50rem rgba(0,0,0,.2)!important;
}
.card-columns {
    column-count: 5 !important;
}
