.card {
    width: 17rem !important;
}

.card-columns {
    column-count: 5 !important;
}

.card-columns .card {
    margin-bottom: 2rem;
}

.price_old {
    color: red;
    font-size: .9rem;
    text-decoration: line-through;
}

.price {
    font-weight: bold;
    font-size: 1rem;
    color: rgba(0, 0, 0, .8);
}

.price small {
    font-weight: bold;
    font-size: .65rem;
    color: rgba(0, 0, 0, .5);
}

.product_title {
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: .05rem;
    height: 46px;
    text-transform: uppercase;
}
.card-deck .card {
    height: 25vw;
}

@media screen and (max-width: 576px) {
    .card {
        width: 10rem !important;
    }
    .card-columns {
        column-count: 2 !important;
    }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
    .card {
        width: 10rem !important;
    }
    .card-columns {
        column-count: 3 !important;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .card {
        width: 23vw !important;
    }
    .card-columns {
        column-count: 3 !important;
    }
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
    .card {
        width: 23vw !important;
    }
    .card-columns {
        column-count: 3 !important;
    }
}
@media screen and (min-width: 1200px) and (max-width: 1700px) {
    .card {
        width: 17rem !important;
    }
    .card-columns {
        column-count: 3 !important;
    }

}
