.card {
    width: 17rem !important;
}

.card-columns {
    column-count: 5 !important;
}

.card-columns .card {
    margin-bottom: 2rem;
}

.price_old {
    color: red;
    font-size: .9rem;
    text-decoration: line-through;
}

.price {
    font-weight: bold;
    font-size: 1rem;
    color: rgba(0, 0, 0, .8);
}

.price small {
    font-weight: bold;
    font-size: .65rem;
    color: rgba(0, 0, 0, .5);
}

.product_title {
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: .05rem;
    height: 46px;
    text-transform: uppercase;
    overflow: hidden;
}

.card-deck .card {
    border: 0;
}

.tittle h2::after {
    width: 130px;
    height: 3px;
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    background-color: #59A8B2;
}

.Ofertas h2::after {
    background-color: #91d5e2;
}

.Combos h2::after {
    background-color: #db7d8f;
}

.Frutas h2::after {
    background-color: #e5e15a;
}

.Legumes h2::after {
    background-color: #e5b045;
}

.Verduras h2::after {
    background-color: #b0c862;
}

.Diversos h2::after {
    background-color: #d8bb8d;
}

.btn-mais-produtos {
    height: 12.2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
}

.btn-mais-produtos a {
    color: #000000;
}

.btn-mais-produtos a:hover {
    color: #000000;
}

.Ofertas-produtos {
    background-color: #91d5e2;
}

.Combos-produtos {
    background-color: #db7d8f;
}

.Frutas-produtos {
    background-color: #e5e15a;
}

.Legumes-produtos {
    background-color: #e5b045;
}

.Verduras-produtos {
    background-color: #b0c862;
}

.Diversos-produtos {
    background-color: #d8bb8d;
}


@media screen and (max-width: 576px) {
    .card {
        width: 10rem !important;
    }

    .card-columns {
        column-count: 2 !important;
    }

    .card-deck {
        column-count: 2 !important;
    }

    .card-deck .card {
        height: 300px;
    }

    .card-deck .card {
        display: none;
    }

    .card-deck .card:nth-child(1) {
        display: block;
    }
    .card-deck .card:nth-child(6) {
        display: block;
    }

    /*.card-deck .card:nth-last-child(3n) {*/
    /*    display: none;*/
    /*}*/

    .btn-mais-produtos {
        height: 28.5vw;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1700px) {
    .card {
        width: 17rem !important;
    }

    .card-columns {
        column-count: 3 !important;
    }

    .btn-mais-produtos {
        height: 12vw;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    .card {
        width: 23vw !important;
    }

    .card-columns {
        column-count: 3 !important;
    }

    .btn-mais-produtos {
        height: 47%;
        text-align: center;
    }

    .btn-mais-produtos {
        height: 11.1vw;
    }

}


@media screen and (min-width: 768px) and (max-width: 992px) {
    .card {
        width: 23vw !important;
    }

    .card-columns {
        column-count: 3 !important;
    }

    .card-deck .card:nth-child(2n+1) {
        display: none;
    }

    .card-deck .card:nth-last-child(6n) {
        display: block;
    }

    .btn-mais-produtos {
        height: 17vw;
    }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
    .card {
        width: 10rem !important;
    }

    .card-columns {
        column-count: 3 !important;
    }

    .card-deck .card:nth-child(2n+1) {
        display: none;
    }

    .btn-mais-produtos {
        height: 29.5vw;
    }
}

@media screen and (max-width: 400px) {
    .btn-mais-produtos {
        height: 44.5vw;
    }

}